* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --MAIN-BG-COLOR: #00132b;
  --SUB-BIG-TEXT-COLOR: #0d60c5;
  --SUB-SMALL-TEXT-COLOR: #add8e6;
}

body {
  width: 100%;
  height: 100vh;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--MAIN-BG-COLOR);
}

/*|| COMMON STYLES  ||*/
.sub-head {
  text-align: center;
  padding: 10px 20px;
  text-align: center;
}

.sub-big-text {
  padding: 5px 0;
  font-size: 4rem;
  text-align: center;
  color: var(--SUB-BIG-TEXT-COLOR);
}

.sub-small-text {
  padding: 10px 0;
  font-size: 2.5rem;
  text-align: center;
  color: var(--SUB-SMALL-TEXT-COLOR);
}
/* || >>>>>>>>>>>>>> COMMON STYLES END ||*/

/* || <<<<<<<<<<<<<<<<<< RESPONSIVE >>>>>>>>>>>>>>>>>>>>>>>>>> || */
@media screen and (max-width: 768px) {
  .sub-big-text {
    font-size: 2rem;
  }

  .sub-small-text {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .sub-big-text {
    font-size: 1.5rem;
  }

  .sub-small-text {
    font-size: 1rem;
  }
}
